{% extends 'base.html.twig' %}

{% block title %}Naissance{% endblock %}

{% block body %}
    <h1>Naissance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ naissance.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ naissance.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ naissance.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ naissance.sexe ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ naissance.dateNaissance ? naissance.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu_naissance</th>
                <td>{{ naissance.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Fichier_retour</th>
                <td>{{ naissance.fichierRetour }}</td>
            </tr>
            <tr>
                <th>DateDemande</th>
                <td>{{ naissance.dateDemande ? naissance.dateDemande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateRetour</th>
                <td>{{ naissance.dateRetour ? naissance.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Confirmer</th>
                <td>{{ naissance.confirmer ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_naissance_index') }}">back to list</a>

    <a href="{{ path('app_naissance_edit', {'id': naissance.id}) }}">edit</a>

    {{ include('naissance/_delete_form.html.twig') }}
{% endblock %}
