{% extends 'base.html.twig' %}

{% block title %}Porte index{% endblock %}

{% block body %}
    <h1>Porte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero_porte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for porte in portes %}
            <tr>
                <td>{{ porte.id }}</td>
                <td>{{ porte.numeroPorte }}</td>
                <td>
                    <a href="{{ path('app_porte_show', {'id': porte.id}) }}">show</a>
                    <a href="{{ path('app_porte_edit', {'id': porte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_porte_new') }}">Create new</a>
{% endblock %}
