<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ajouter un employé</title>
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/Navbar-Right-Links-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/fontaws/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('/fontaws/css/all.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><img src="imgs/logo.jpg" style="width:80px;" alt="" srcset=""><span>Next-gen-govt</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="{{ path('app_page_admin') }}"><i class="fas fa-home"></i>&nbsp; Accueil</a><a class="btn btn-primary ms-md-2" role="button" href="{{ path('app_utilisateurs_new') }}"><i class="fas fa-plus"></i> Ajouter utilisateur</a><a class="btn btn-primary ms-md-2" role="button" href="{{ path('app_logout') }}"><i class="fas fa-sign-in-alt"></i> deconnexion</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-12">
               <h1 class="text-center text-primary">Cette section vous permet d'ajouter un nouvel employé à la liste actuelle des employés</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% block body %}
                    
                {% endblock %}
            </div>
            <div class="col-md-6">
                <img src="{{ asset('/assets/addempl.jpg') }}" style="height: 400px;" alt="" srcset="">
            </div>
        </div>
    </div>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
</body>

</html>